_xmsgs
iseconfig
*.html
MBlaze.ncf
MBlaze.ngc
MBlaze.synth.tcl
MBlaze_axi4_0_wrapper.ncf
MBlaze_axi4_0_wrapper.ngc
MBlaze_axi4lite_0_wrapper.ncf
MBlaze_axi4lite_0_wrapper.ngc
MBlaze_axi_bram_ctrl_0_bram_block_wrapper.ngc
MBlaze_axi_bram_ctrl_0_wrapper.ngc
MBlaze_axi_gpio_sb_addr_wrapper.ngc
MBlaze_axi_gpio_sb_ctrl_wrapper.ngc
MBlaze_axi_gpio_sb_data_wrapper.ngc
MBlaze_axi_gpio_sb_leds_wrapper.ngc
MBlaze_axi_gpio_sb_status_wrapper.ngc
MBlaze_axi_gpio_sb_switches_wrapper.ngc
MBlaze_clock_generator_0_wrapper.ncf
MBlaze_clock_generator_0_wrapper.ngc
MBlaze_debug_module_wrapper.ngc
MBlaze_microblaze_0_bram_block_wrapper.ngc
MBlaze_microblaze_0_d_bram_ctrl_wrapper.ngc
MBlaze_microblaze_0_dlmb_wrapper.ncf
MBlaze_microblaze_0_dlmb_wrapper.ngc
MBlaze_microblaze_0_i_bram_ctrl_wrapper.ngc
MBlaze_microblaze_0_ilmb_wrapper.ncf
MBlaze_microblaze_0_ilmb_wrapper.ngc
MBlaze_microblaze_0_intc_wrapper.ncf
MBlaze_microblaze_0_intc_wrapper.ngc
MBlaze_microblaze_0_wrapper.ncf
MBlaze_microblaze_0_wrapper.ngc
MBlaze_proc_sys_reset_0_wrapper.ngc
MBlaze_rs232_wrapper.ngc
Nexys4_top.bld
Nexys4_top.cmd_log
Nexys4_top.lso
Nexys4_top.ncd
Nexys4_top.ngc
Nexys4_top.ngd
Nexys4_top.ngr
Nexys4_top.pad
Nexys4_top.par
Nexys4_top.pcf
Nexys4_top.prj
Nexys4_top.ptwx
Nexys4_top.stx
Nexys4_top.syr
Nexys4_top.twr
Nexys4_top.twx
Nexys4_top.unroutes
Nexys4_top.ut
Nexys4_top.xpi
Nexys4_top.xst
Nexys4_top_guide.ncd
Nexys4_top_map.map
Nexys4_top_map.mrp
Nexys4_top_map.ncd
Nexys4_top_map.ngm
Nexys4_top_map.xrpt
Nexys4_top_ngdbuild.xrpt
Nexys4_top_pad.csv
Nexys4_top_pad.txt
Nexys4_top_par.xrpt
Nexys4_top_summary.xml
Nexys4_top_usage.xml
Nexys4_top_xst.xrpt
_ngo
edkBmmFile.bmm
edkBmmFile_bd.bmm
nexys4_top.bgn
nexys4_top.drc
webtalk_pn.xml
xlnx_auto_0_xdb
xst
MBlaze.init_bram.tcl
Nexys4_top_bitgen.xwbt
nexys4_top.bit
webtalk.log
